.content-wrap {
  min-width: 100%;
  min-height: 100vh;
  padding: 40vh 25vw;
}

.content {
  position: relative;
  background-image: url('/images/profile.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30%;
  padding-right: 350px;

  h2 {
    font-family: 'Michroma', sans-serif;
    font-size: 48px;
  }

  p {
    font-size: 14px;
    line-height: 32px;
  }
}
