.content-wrap {
  min-width: 100%;
  min-height: 100vh;
  padding: 30vh;
}

.content {
  position: relative;

  h2 {
    font-family: 'Michroma', sans-serif;
  }
}

.content::after {
  content: '';
  position: absolute;
  top: 128px;
  right: 256px;
  width: 300px;
  height: 600px;
  background: darken(#00a18c, 30%);
  transform: skewX(-15deg);
}