$base: #00a18c;

body {
  color: #fff;
  background-color: #000;
  background-image: url('/images/bg-texture.png');
}

a {
  color: #fff;
  text-decoration: none;
  transition: .5s;
}
a:hover {
  opacity: 0.6;
  color: #fff;
  text-decoration: none;
}