$base: #00a18c;
$d-base: darken($base, 15%);

html, body {
  scroll-behavior: smooth;
  color: #fff;
  background-color: #000;
  background-image: url('/images/bg-texture.png');
}

a {
  color: #fff;
  text-decoration: none;
  transition: .5s;
}
a:hover {
  opacity: 0.6;
  color: #fff;
  text-decoration: none;
}

.wrap {
  min-width: 100%;
  min-height: 100vh;
  padding: 128px 16px;
  @media screen and (min-width: 480px) {
    padding: 25vh 25vw;
  }
}

.content {
  position: relative;
  font-size: 14px;

  .line {
    margin: 64px 0;
    width: 64px;
    height: 4px;
    background: repeating-linear-gradient(45deg, $base, $base 5px, $d-base 5px, $d-base 10px);
  }

  h2 {
    font-family: 'Michroma', sans-serif;
    font-size: 32px;
    @media screen and (min-width: 480px) {
      font-size: 48px;
    }
  }

  h3 {
    margin-bottom: 32px;
  }

  p {
    line-height: 32px;
  }

}

.button {
  position: relative;
  display: inline-block;
  margin: 16px 0;
  padding: 16px 56px 16px 32px;
  font-size: 14px;
  border: 2px solid #222;
  border-radius: 0;
  background-color: transparent;
}
.button:hover {
  border-color: #222;
  background-color: transparent !important;
}
.button::after {
  content: '';
  position: absolute;
  top: 24px;
  right: 24px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  transition: .5s;
}
.button:hover::after {
  right: 20px;
}

.effect {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.effect.show {
  opacity: 1;
  transform: none !important;
}

.effect.up {
  transform: translate(0, 45px);
}

.effect.lr {
  transform: translate(-45px, 0);
}