

@media screen and (min-width:480px) {
  /* ナビゲーションバー */
  .navbar {
    font-family: 'Michroma', sans-serif;
    padding: 8px 96px;
    background-color: rgba(0,0,0,1);
    background-image: url('/images/bg-header.png');
    background-position: center center;
    transition: all 0.5s ease;
  
    /* ブランド */
    .navbar-brand {
      font-size: 20px;
  
      /* ロゴイメージ */
      img {
        width: 40px;
        height: 40px;
        float: left;
        // margin-top: 4px;
        margin-right: 8px;
      }
  
      /* サブタイトル */
      .small {
        font-size: 40%;
        margin-top: -8px;
      }
    }
    .navbar-brand:hover {
      opacity: 0.6;
    }
  
    /* メニューアイテム */
    .nav-item {
      margin-left: 32px;
      font-size: 8px;
      font-weight: 700;
      text-align: center;
      position: relative;
  
      .nav-link {
        color: #fff;
      }
      .nav-link:hover {
        opacity: 0.6;
      }
    }
  }
  .hidden {
    padding: 32px 96px;
    background: none !important;
    transition: all 0.5s ease;
  }
}