.jumbotron {
  background-image: url('/images/main.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 45vh 96px;
  position: relative;

  /* スクロール */
  .scroll-wrap {
    position: absolute;
    cursor: pointer;
    color: #fff;
    right: 80px;
    bottom: 0;
    height: 220px;

    .scroll-inner {
      font-size: 8px;
      font-weight: 700;
      letter-spacing: 8px;
      transform: rotate(90deg);
    }

    .scroll-line {
      background: #fff;
      width: 1px;
      height: 130px;
      margin: 50px auto 10px;
      animation-name: scroll-border;
      animation-duration: 4s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes scroll-border {
	0%, 1% { transform: scaleY(0); transform-origin: 50% 0; }
	16% { transform: none; transform-origin: 50% 0; }
	84% { transform: none; transform-origin: 50% 100%; }
	99%, 100% { transform: scaleY(0); transform-origin: 50% 100%; }
}